/* ---------------- Main Page Layout ---------------- */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.header {
  grid-area: header;
  grid-row: 1;
  grid-column: 1 / span 3;
}

.sidebar {
  grid-area: sidebar;
  grid-row: 2;
  grid-column: 1;
  padding-top: 15%;
}

.navbar {
  height: 100%;
  padding: .5rem 0rem;
}

.main {
  grid-area: main;
  grid-row: 2;
  grid-column: 2 / span 3;
  overflow: auto;
}

.grid-container {
  display: grid;
  width: 100vw;
  margin: 0px;
  grid-template-rows: 0.25fr 5fr;
  grid-template-columns: 0.75fr 5fr 0.75fr;
  grid-template-areas: "header header header" "side main main";
  height: 100vh;
  overflow: hidden;
}

/* ---------------- Top Search Bar ---------------- */

.search-parent-width {
  width: 100%;
}

.search-width {
  width: 50%;
  margin-left: auto;
}

.search-box {
  width: 100% !important;
}

.button-margin {
  margin-right: auto;
}

.card {
  width: 50%;
}

/* ---------------- Sidebar Menu ---------------- */

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a, .chiller-theme .sidebar-footer>a {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a {
  color: #b8bfce;
  cursor: pointer;
}

.chiller-theme .sidebar-wrapper ul li:hover a i, .chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active div ul li a.active {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i, .chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #ffffff;
}